<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Tracker</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" routerLink="/addProject">Add/Update Project</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>